.pics_container{
    width: 100%;
     display: flex; 
    margin: 0px 0px 100px 0px;
}
.color_container{
    background: #F2E9E4;
    width: 11%;
    height: 310px;
}
.image_container{
    width: 29%;
}
.workImages{
    width: 80%;
    display: flex;
    flex-direction: column;

}
.infos{
    width: 80%;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 17px;
}


@media screen and (max-width: 700px) {
    .pics_container{
        display: flex;
        flex-direction: column;
    }
.image_container{
    width: 98%;
    margin:11px 48px;
}
.color_container{
    display: none;

}   
  }
  
  @media screen and (max-width: 550px) {
    .pics_container{
        display: flex;
        flex-direction: column;
        margin: 10px 17px;
    }
  
.infos {
    font-size: 24px;
    width: 80%;
    margin: 4px 2px 4p
}
    }