.footer_cont{
    background-color:#F2E9E4;
}
.footer_section{
    background-color:#F2E9E4;


}
.section_header{
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom:40px;
}
.footer_image_container{
    display: flex;
    width: 100%;
    margin: 5px;
}
.section_image{
    margin: 2%;

}
.footer_links{
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    display: flex;
    margin: 6px;
    font-size: 25px;
    font-weight: 100px;

}
.footer_links,p{
    margin: 10px;
}
.icon_section{
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 15px;
    font-weight: 100px;
}

@media screen and (max-width: 1050px){
   
    
}

@media screen and (max-width: 700px){

    .footer_cont{
        width: 651px;
        margin: 12px 0px 0px 12px;
    }
    .footer_links{

    }
    .footer_links,p{     
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 16px;
    margin: 0px -20px 11px 0px;
    }

  
}


@media screen and (max-width: 550px){
    .footer_cont{
        width: 410px;
    } 
}


@media screen and (max-width: 350px){
    .footer_cont{
        width: 357px;
    } 
}








