@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {
   --background-color: #FFF;
  --font-family: 'Manrope', sans-serif;  
  --color-container :#F2E9E4;
  --color-blog: #042c54;
  --color-text:rgba(0, 0, 0, 0.62);
}
